#root {
  margin: 0 auto;
  width: 1800px;
}

:root {
 --brand: #5DB329;
  --info: #0095FF;
  --success: #00D68F;
  --warning: #FFA400;
  --error: #FF3D71;
  --grey: #2E3A59;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  min-height: 100vh;
  width: 100%;
  font-family: Inter, sans-serif;
}

.content {
  flex: 1;
  margin-left: 230px; 
  padding: 24px;
  background-color: #F5F5F5;
  border-radius: 20px;
}