#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
 --brand: #5DB329;
  --info: #0095FF;
  --success: #00D68F;
  --warning: #FFA400;
  --error: #FF3D71;
  --grey: #2E3A59;
  --white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  min-height: 100vh;
  font-family: Inter, sans-serif;
}

.content {
  flex: 1;
  margin-left: 260px; 
  padding: 16px;
  background-color: #F5F5F5;
  border-radius: 20px;
}