:root {
 --brand: #348b54;
  --info: #0095FF;
  --success: #00D68F;
  --warning: #FFA400;
  --error: #FF3D71;
  --grey: #2E3A59;
  --white: #FFFFFF;
}

.header h1 {
color: var(--grey);
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px;
}

.header p {
  color: #607197;
  margin-bottom: 20px;
}

.header{
  display: flex;
  flex-direction: column;
  align-items: baseline;

}
.relatorios{
display: flex;
align-items: center;
gap: 26px;
}

.rel{
display: flex;
padding: 16px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 56px;
flex: 1 0 0;
border-radius: 16px;
color: var(--grey);
border: 1px solid #28a745;
background: #f5fffc;
}

.botao{
    display: flex;
    flex-direction: row-reverse;
    padding: 48px;
}

.botao-exportar{
display: flex;
width: 200px;
height: 56px;
padding: 8px 16px;
justify-content: center;
align-items: center;
gap: 8px;
color: var(--white);
flex-shrink: 0;
border-radius: 8px;
background: var(--Primrias-Primary-7, #28a745);

font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;


}

/* Tabela */
.report-preview {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.report-preview h2 {
  margin-bottom: 15px;
  color: #052c65;
  font-size: 1.2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 25px;
}

thead {
  background: #28a745;
  color: #fff;
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #e5e9f2;
  font-size: 14px;
}

/* Barra de progresso */
.progress-bar {
  background: #ddd;
  border-radius: 5px;
  height: 8px;
  width: 60px;
  display: inline-block;
  margin-right: 5px;
}

.progress {
  background: var(--success);
  height: 100%;
  border-radius: 5px;
}

/* Cards inferiores */
.cards {
  display: flex;
  align-self: flex-start;
  gap: 16px;
  justify-content: space-between;
}

.card {
display: flex;
height: 200px;
padding: 16px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
flex: 1 0 0;

border-radius: 10px;
border: 1px solid yellowgreen;
background: var(--brand);
}

.card strong {
color: #F6FAFF ;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
}

.card p {
 color: #F6FAFF ;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 150% */
}
